/build-tools
/c4c-integration
/hybris
/hybris-dependencies
/hybris-ems
/hybris-Mobile-Apps-SDK
/hybris-sbg
/installer
/licenses
/META-INF
README

git_info.properties
*.class
**/build.xml
**/gensrc
**/eclipsebin
**/extensioninfo.xsd
**/platformhome.properties
**/*-testclasses.xml
**/extensioninfo.xsd
**/resources/items.xsd
**/resources/beans.xsd
**/hmc/resources/hmc.xsd
**/hmc/bin
**/resources/*/*-webtestclasses.xml
**/web/commonwebsrc/acceleratorstorefrontcommons
**/web/commonwebsrc/wileystorefrontcommons

# According to JetBrain's "How to manage projects under Version Control Systems" https://intellij-support.jetbrains.com/entries/23393067
*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/dataSources*
*/.idea/shelf/

**/web/webroot/WEB-INF/classes
**/classes

**/web/addonsrc
**/web/webroot/_ui/addons
**/web/webroot/_ui/responsive/theme-blue/css/
**/web/webroot/_ui/responsive/theme-blue/images/
**/web/webroot/_ui/responsive/theme-blue/fonts/
**/web/webroot/cmscockpit
**/web/webroot/cockpit
**/web/webroot/WEB-INF/*/addons
**/web/webroot/WEB-INF/lib/addon-*.jar

rebel.xml
.idea/libraries

**/node_modules

**/import